.frame {
    min-height: 100vh;
    margin: {
        left: 50px;
        right: 50px;
    }

    &-main {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        
        padding: {
            top: 70px;
        }

        &__top {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            
            position: relative;

            margin-bottom: 185px;

            &__header {
                margin-bottom: 30px;

                &__line {
                    display: block;
                    color: #142251;

                    font: {
                        weight: 400;
                        size: 100px;
                    }

                    line-height: 0.85;

                    &-secondary {
                        color: #989EB1;
                    }
                }
            }

            &__subheader {
                color: #AFB4C4;
                font: {
                    weight: 400;
                    size: 24px;
                }

                margin-bottom: 70px;
            }

            &__button {
                display: flex;
                flex-direction: row;
                align-items: center;

                cursor: pointer;
                width: 394px;

                justify-content: space-between;

                padding: 24px;

                background-color:  rgba(33, 56, 135, 0.06);
                border-radius: 12px;

                &-text {
                    font: {
                        size: 24px;
                        weight: 600;
                    }
                    color: #213887;
                }

                &-color {
                    svg {
                        margin-left: 84px;;
                    }
                }
            }

            &__images {
                &-dots {
                    position: absolute;
                    top: -170px;
                    right: -50px;
                }

                &-phone {
                    position: absolute;
                    top: -20px;
                    right: -50px;
                }
            }
        }

        &__buttons {
            display: flex;
            flex-direction: row;

            justify-content: space-between;

            &__arrow {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #F2F3F8;
                width: 54px;
                height: 54px;
                border-radius: 100px;
                cursor: pointer;
            }

            &__group {
                display: flex;
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;

                background-color: #F2F3F8;

                height: 54px;
                border-radius: 100px;
                cursor: pointer;

                padding: {
                    left: 24px;
                    right: 24px;
                }

                & > * {
                    &:nth-child(n+2) {
                        position: relative;
                        margin-left: 40px;

                        &:after {
                            content: " ";
                            position: absolute;
                            top: 0;
                            left: -20px;
                            height: 100%;
                            border-left: 1px solid #e4e7f1;
                        }
                    }
                }

                &-chat {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    svg {
                        margin-right: 10px;
                    }

                    &-text{
                        font: {
                            size: 20px;
                            weight: 700;
                        }
                        color: #142251;
                    }
                }

                
                &-email{
                    font: {
                        size: 20px;
                        weight: 700;
                    }
                
                    text-decoration: none;
                    color: #213887;
                    border-bottom: 1px solid #213887;
                    text-transform: lowercase;
                }
            }
        }
    }

    &-whoarewe {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 150px;

        &__header{
            font: {
                size: 94px;
                weight: 400;
            }

            color: #142251;
        }

        &__subheader {
            font: {
                size: 34px;
                weight: 400;
            }
            box-sizing: border-box;

            line-height: 1.2;
            color: #AFB4C4;
            max-width: 510px;
            text-align: center;
        }

        &__canvas {
            position: relative;
            flex-grow: 1;
            width: 1766px;
            height: 495px;

            margin-top: 98px;

            font: {
                size: 34px;
                weight: 400;
            }

            &__pins {
                position: absolute;
                left: 195px;
                top: 7px;
            }

            span.gray {
                color: #989EB1;
            }

            &__note {
                position: absolute;
                box-sizing: border-box;

                &1 {
                    &-text {
                        position: absolute;
                        width: 298px;

                        transform: rotate(-12deg);

                        top: 138px;
                        left: 56px;
                    }
                }

                &2 {
                    left: 518px;

                    &-text {
                        position: absolute;

                        top: 385px;
                        left: 18px;
                        width: 245px;
                    }
                }

                &3 {
                    left: 991px;
                    top: 258px;

                    &-text {
                        position: absolute;
                        top: -246px;
                        width: 371px;
                    }
                }

                &4 {
                    left: 1471px;
                    top: 101px;

                    &-text {
                        position: absolute;
                        left: 39px;
                        width: 371px;
                    }
                }
            }
        }
    }

    &-services {
        box-sizing: border-box;
        background-color: #F3F6F9;
        border-radius: 50px;

        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            padding: {
                left: 86px;
                right: 80px;
            };

            &__text {
                font: {
                    weight: 400;
                    size: 94px;
                }
            }

            &__subtext {
                font: {
                    weight: 400;
                    size: 30px;
                }
                line-height: 36px;
                color: #AFB4C4;
            }
        }


    }
}
